<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">The Future</h1>
      <p class="slogan">The Future 是一个提供你未来发展机会的求职网站。
        <br>
        我们希望这个网站，能让大家找到你未来的优质工作。
        <br>
        凭借自己的努力和天份也会变成 Winner
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应聘</a></p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">这里有大量美好未来工作</h2>
        <p class="lead">因为都是未来未来趋势的发展</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">请完善好履历</h2>
        <p class="lead">简历如果不会写请一定要多上网寻求帮助或找人帮助 来<a target="_blank" href="http://paulshu-blog.logdown.com">Paulshu 的 Blog</a>交流</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">总结好自己的过往成绩<br>勇于的走出那一步吧！</h2>
        <p class="lead">好公司正在等着您的加入</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
